btn-circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;

    &__icon {
        font-size: 1.5rem;
    }

    &--dark {
        background-color: black;
        color: white;
    }

    &:hover {
        transform: scale(1.1);
    }
}